<h1>List of <%= @user.name %>'s Reviews</h1>

<% if @review_list == [] %>

  <p>There are no reviews for that User currently in the Database!</p>

<% else %>

<table>
  <tr>
    <th> Review ID - </th>
    <th> Review Score - </th>
    <th> Game ID of Game Reviewed </th>
  </tr>
  <% @review_list.each do |review| %>
    <tr><td align='center'><%= "#{review.id}" %></td><td align='center'><%= "#{review.score}" %></td><td align='center'><%= "#{review.games_id}" %></td></tr>
  <% end %>
</table>

<% end %>


<p>Games List</p>

<ul>
  <% Game.all.each do |game| %>
    <li><%= "#{game.id} - #{game.name}" %></li>
  <% end %>
</ul>
<p><a href="/home">Go to home page</a></p>