<h1>Change Game Form</h1>

<p>Please fill out the form to change a game</p>

<form action="/game_change_in_database">
  <input type="text" placeholder="Game Name" name="game[name]">
  
  <select name="game[genres_id]">
    <% Genre.all.each do |genre| %>
      <% if genre.id != @change_game_pick.id %>
        <option value="<%= genre.id %>"><%= genre.name %></option>
      <% else %>
        <option value="<%= genre.id %>" selected><%= genre.name %></option>
      <% end %>
    <% end %>
  </select>
  
  <select name="game[formats_id]">
    <% Format.all.each do |format| %>
      <% if format.id != @change_game_pick.id %>
        <option value="<%= format.id %>"><%= format.name %></option>
      <% else %>
        <option value="<%= format.id %>" selected><%= format.name %></option>
      <% end %>
    <% end %>
  </select>
  
  <input type="hidden" name="game[id]" value="<%= @change_game_pick.id  %>">
  
  <button type="submit">Change game information</button>

</form>

<p><a href="/home">Go to home page</a></p>